@use "./buttons.scss";

.shopping-cart-container {
    margin-top: 100px;
    display: flex;
    gap: 50px;
    flex-direction: column;
    width: 70%;

    .cart-line {
        width: 100%;
        display: flex;

        div {
            display: flex;
        }
        .id {
            display:none;
            

            @media (min-width: 800px) {
                width: 30%;
                justify-content: flex-start;
                overflow: hidden;
            }
        }

        .name {
            width: 50%;
            justify-content: flex-start;
        }

        .amount {
            width: 5%;
            justify-content: center;
        }
        .price {
            width: 15%;
            flex-grow: 1;
            justify-content: flex-end;
        }
    }

    .final-price-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .final-price {
            text-align: right;
        }

        .div-for-alignment {
            width: 75%;
        }
    }
}
