<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script type="text/javascript" src="/js/publicServices.js" defer></script>
  <script type="text/javascript" src="/js/cartServices.js" defer></script>
  <script type="text/javascript" src="/js/publicUtility.js" defer></script>
  <script type="text/javascript" src="/js/header.js" defer></script>
  <script type="text/javascript" src="/js/cart.js" defer></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/styles.css">
  <title></title>
</head>

<body>
  {{>header}}
  <main>
    {{>cartModal}}
    <div class="js-shopping-cart shopping-cart-container">

    </div>
  </main>
  {{>footer}}
</body>

</html>