<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/js/publicUtility.js" defer></script>
    <script type="text/javascript" src="/js/publicServices.js" defer></script>
    <script type="text/javascript" src="/js/indexUtility.js" defer></script>
    <script type="text/javascript" src="/js/header.js" defer></script>
    <script type="text/javascript" src="/js/index.js" defer></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Book Store</title>
</head>

<body>
    {{>header}}
    <main>
        {{>mainPageSearchBar}}
        <div class="books-container js-books-container">

        </div>
        {{>pagination}}
    </main>
    {{>footer}}
</body>

</html>