<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/js/publicShoppingCart.js" defer></script>
     <script type="text/javascript" src="/js/publicServices.js" defer></script>
      <script type="text/javascript" src="/js/bookPage.js" defer></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title></title>
</head>

<body>
    {{>header}}
    <main>
        <div class="js-book-page bookpage-container">

        </div>
    </main>
   {{>footer}}
</body>

</html>