<header>
    <nav class="nav-container">
        <div class="logo-container">
            <a class="js-home-button" href="/">
                <div class="icon-container">
                    {{>SVG/logo}}
                </div>
            </a>

        </div>
        {{!-- <div class="logo-container">
             <a class="js-admin-config" href="/admin">
                <div class="icon-container">
                    {{>SVG/admin}}
                </div>
            </a>
        </div> --}}
    </nav>
</header>
