<div class="backdrop js-modal-backdrop"></div>
<div class="modal js-modal-box">
    <div class="exit-modal-container js-exit-modal">
        {{>SVG/exit}}
    </div>
  
    <div class="result-container">
            <div class="message-container">The purchase was completed</div>
    </div>
</div>