<header>
    <nav class="nav-container">
        <div class="logo-container">
            <a class="js-home-button" href="/">
                <div class="icon-container">
                    {{>SVG/logo}}
                </div>
            </a>
        </div>
        <div class="menu-container">
            <div class="user-name js-user-name">
            </div>
            <div class="link-container log-in-text">

                <a href="/user" class="js-user-page">
                    <div class="log-in-text js-log-in-text">
                        Log In
                    </div>
                </a>

            </div>
            <div class="link-container">
                <a href="/cart">
                    <div class="shopping-cart-icon-container">
                        {{>SVG/shoppingCart}}
                    </div>
                </a>
            </div>
        </div>
    </nav>
</header>
