<header>
    <nav class="nav-container">
        <div class="logo-container">
            <a class="js-home-button" href="/">
                <div class="icon-container">
                    {{>logoSVG}}
                </div>
            </a>
        </div>
        <div class="shopping-cart-icon-container">
            <a href="/cart">
                <div class="shopping-cart-icon-container">
                    {{>shoppingCartSVG}}
                </div>
            </a>
        </div>
    </nav>
</header>