<div class="search-bar-wrapper">
   <div class="search">
      <input type="text" class="js-search-bar searchTerm" placeholder="What are you looking for?">
      {{!-- using key up for search implement this for search bar
        <button type="submit" class="searchButton">
       {{>searchSVG}}
     </button> --}}
   </div>
</div>