<div class="page-buttons-container">
    <button class="page js-back-button close">
        {{>SVG/chevronLeft}}
    </button>
    <div class="js-page-indicator page-indicator"></div>
    <button class="js-forward-button close">
        {{>SVG/chevronRight}}
    </button>
</div>